.about{
    
    &-photo{
        width: 400px;
        height: 400px;
        border-radius: 100%;
    }
    &-content{
        background-color: hsla(100,100%,65%,0.2);
        padding: 20px;
        border-radius: 1.2em;
    }
}